.addButton {
  font-size: 2rem;
  color: var(--first-white);
  background-color: var(--first-blue);
  padding: 1rem 1.92rem;
  border-radius: 4rem;
  position: fixed;
  bottom: 32px;
  left: 50vw;
  transform: translateX(-50%);
}

.home h4 {
  margin-left: 6%;
}

.home_progress {
  height: 45vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.home_card {
  height: 50vh;
  overflow-y: scroll;
  background-color: rgba(253, 235, 208, 0.4);
  margin: 2vh auto;
  border-radius: 1rem;
  width: 95%;
  opacity: 0;
  transition: opacity 1.5s ease-in;
}

.home_card.visible {
  opacity: 1;
}

.CardNotes {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--second-orange);
  padding: 1rem;
  width: 90%;
  margin: 1rem auto;
  border-radius: 1rem;
}

.sportNote {
  background-color: var(--first-orange);
  color: var(--first-blue);
  font-weight: 900;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
}

.sleepNote {
  background-color: var(--first-purple);
  color: var(--first-blue);
  font-weight: 900;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
}

.mentalNote {
  background-color: var(--first-green);
  color: var(--first-blue);
  font-weight: 900;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
}
